body{
	margin-top: 60px;
	padding: 0;
	background-color: #2F2F2F;
}
.brand{
	font-family: 'Share Tech Mono',  sans-serif;
	letter-spacing: 1px;
}
.row{
	margin-top: 20px;
	color: #E2E2E2;
}
.v-center {
    display:table !important;
    /*border:2px solid gray;*/
    height:300px;
}
.v-center > div{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}