
#tools{
	border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;
	background-color: #EEE;color: #333;
	position: absolute;right: -150px;top: 100px;
	width: 149px;
}
#form{
	border: 5px solid #1F1F1F;border-radius: 5px;
	background-color: #d7d7d7;
	/*margin: 0 auto 0 auto;*/
}
#form-header{
	padding: 30px 15px;
	background-color: #1F1F1F;
}
#form-title{
	font-size: 40px;font-family: "trebuchet ms", sans-serif;font-weight: bold;
	text-align: left;
	padding-left: 20px;padding-bottom: 5px;
	color: #F1F1F1;
}
#questions{
	margin: 0 15px;
}
.question, .question-sample{
	border-radius: 5px;
	margin: 15px 0;
	padding: 5px;
	position: relative;
	background-color: #EEE;
	box-shadow: 0 0 5px #888;
}
.question .delete, .question .btn{
	visibility: hidden;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
.question:hover .delete, .question:hover .btn{
	visibility: visible;
}
.question-sample{
	border: 2px dotted #A31919;
	opacity: 0.8;
}

.q-title input, .q-title-sample input, .q-title-sample a{
	font-size: 24px;
	background-color: #CCC;color: #222;
	text-decoration: none;
	border: none;
}
.input-boxes{
	border: 1px solid #333;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 2px 5px;
}
#new-q{
	/*display: none;*/
	padding: 0 25px;
	text-align: center;
}
#form-footer{
	background-color: #1F1F1F;
	font-size: 20px;
	color: #CCC;
	padding: 10px 15px;
}
#powermsg{
	float: right;
	font-size: small;	
}